<h2 id="cosa">Si tienes preguntas o aclaraciones, ponte en contacto con nosotros!</h2>
<div id="contacto">
	
	<link rel="shortcut icon" href="icono.ico">
 <%= stylesheet_link_tag    "view" %>

<script type="text/javascript">
		
		
		
		function verificarCampos(){
			if(document.getElementById("nombre").value != ""){
				if(document.getElementById("correo").value != ""){
					document.frmContacto.submit();
				}else{
					alert("Por favor agrega tu Nombre y/o E-mail.");
				}
			}else{
				alert("Por favor agrega tu Nombre y/o E-mail.");
			}
		}
	</script>


	<div id="form_container">
	
		
		
		
	
		<form id="form_177836" class="appnitro"  method="post" action="enviar.php" name="frmContacto">
					<div class="form_description">
		
			<p>Gracias por interesarte en nosotros. Tus sugerencias y comentarios nos ayudan a mejorar la calidad de nuestros productos y servicios.

Esperamos tus comentarios, o escr&#237;benos a <b>contacto@elglobo.com.mx</b></p>
		</div>						
			<ul >
					<li id="li_1" >
		<label class="description" for="element_1">*Nombre Completo </label>
		<div>
			<input id="nombre" name="nombre" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_2" >
		<label class="description" for="element_2">Tel&#233;fono </label>
		<div>
			<input id="telefono" name="telefono" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_3" >
		<label class="description" for="element_3">*Correo Electr&#243;nico </label>
		<div>
			<input id="correo" name="correo" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_8" >
		<label class="description" for="element_8">Estado </label>
		<div>
			<input id="estado" name="estado" class="element text medium" type="text" maxlength="255" value=""/> 
		</div> 
		</li>		<li id="li_4" >
		<label class="description" for="element_4">Comentarios </label>
		<div>
			<textarea id="comentarios" name="comentarios" class="element textarea medium"></textarea> 
		</div> 
		</li>
			
					<li class="buttons">
				   <input type="hidden" name="form_id" value="177836" />
				   
				<input id="saveForm" class="button_text" type="button" name="enviar" onclick= verificarCampos(); value="Enviar" />
		</li>
			</ul>
		</form>	
	</div>
</div>