<h2 id="cosa"> Quienes Somos?</h2>
	<div id="quienes">
		<div id="quienesfotos">
			<%= image_tag "quien1.jpg" , :size => "280x170" %>
			<br />
			<br />

			<%= image_tag "quien2.jpg", :size => "280x170"%>
		</div>
	<h3> Panaderia el Globo </h3>
	<div id="textoquien">	
	El hombre en sus inicios fue frutivoro y granivoro. Al principio comia los granos tal y como se encuentran en la naturaleza, despues se inicio en el cultivo de los cereales.
Cuando el hombre descubrio el fuego, comenzo a cocer los granos en agua, mas tarde, se le ocurrio pasarlos por el fuego para asarlos y finalmente comenzo a despojar los granos de su corteza y molerlos con dos piedras.<br /><br />

La ruda harina obtenida de este modo, era humedecida para hacer una especie de galleta sin forma, mezclada con salvado. Ese fue el pan que alimento al hombre durante milenios. Los historiadores estan de acuerdo en que el verdadero pan, el pan fermentado, fue inventado por los egipcios, por casualidad.<br /><br />


Cuentan que una esclava olvido hornear un pedazo de masa y al dia siguiente, para evitar el castigo de su amo, metio este pedazo de masa del dia anterior (ya fermentado), en la masa nueva. Hubo una gran sorpresa, porque ese dia, el pan era mucho mejor, con lo cual, el pan fermentado... habia nacido.	<br /> <br />

El arte de hacer pan fue llevado a la Galia por los ejercitos de Julio Cesar, hasta el momento en que los romanos fueron expulsados, es decir, en el siglo V, no sabemos nada en concreto sobre el estado en que se encontraba la elaboracion del pan, lo unico que se sabe es que con el pretexto de economizar, los pueblos riberenos amasaban la harina con agua de mar. 
	</div>
</div>
