<h2 id="cosa"> Quienes Somos?</h2>
	<div id="quienes">
		<div id="quienesfotos">
			<%= image_tag "quien1.jpg" , :size => "280x170" %>
			<br />
			<br />

			<%= image_tag "quien2.jpg", :size => "280x170"%>
		</div>
	<h3> Panaderia el Globo </h3>		
</div>
