
<div id="contenido">
		<div id="contenido1">
			<div id="jqb_object">

				<div class="jqb_slides">
					<div class="jqb_slide" title="Halloween Para todos!" ><%= image_tag "img1.jpg"%></div>
					<div class="jqb_slide" title="Temporada de Deportes" ><%= image_tag "img2.jpg"%></div>
					<div class="jqb_slide" title="Para todas las Fiestas"><%= image_tag "img3.jpg"%></div>
					<div class="jqb_slide" title="Temporada de Deportes"><%= image_tag "img4.jpg"%></div>

					<div class="jqb_bar">
					<div class="jqb_info"></div>
					<div id="btn_next" class="jqb_btn jqb_btn_next"></div>
					<div id="btn_pauseplay" class="jqb_btn jqb_btn_pause"></div>
					<div id="btn_prev" class="jqb_btn jqb_btn_prev"></div>
				</div>

			</div>
		</div>
		<div id="contenido2">
			<h2> Promociones</h2>
		</div>
	</div>