<h2 id="cosachiqui">Lista de Usuarios</h2>
<div id="listauser">

<table>
  <tr>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @useres.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= link_to 'Mostrar', user %></td>
    <td><%= link_to 'Editar', edit_user_path(user) %></td>
    <td><%= link_to 'Eliminar', user, confirm: 'Estas seguro?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />



</div>



