<h2 id="cosachiqui">Crear Usuario</h2>
<div id="crearuser">

<b><p id="notice"><%= notice %></p></b>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>


<%= link_to 'Editar', edit_user_path(@user) %> |
<%= link_to 'Cancelar', useres_path %>



</div>







